/*custom properties*/
:root {
    --clr-header: #F6F6F7;
    --clr-fonta: #222222;
    --clr-fontb: #888888;
    --clr-star: #C90000;
    --clr-borderlg: #CCCCCC;
    --clr-borderdg: #222222;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--clr-fonta);
}

h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--clr-fonta);
}

h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--clr-fontb);
}

h4 {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--clr-fontb);
}

p {
    font-size: 1rem;
    font-weight: 100;
    color: var(--clr-fontb);
}

body {
    font-size: 0.75rem;
    font-weight: 200;
    line-height: 1.4rem;
    color: var(--clr-fontb);
}

@media (min-width: 900px) {
    h1 {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 0rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
}

/*header*/
header {
    background: var(--clr-header);
    height: 30px;
    margin: 15px 0 30px;
}

div.cart {
    float: right;
    padding: 5px 20px 0 0;
}

img.cart {
    visibility: visible;
    margin-right: -34px;
    width: 13px;
}

span.mycart {
    visibility: hidden;
}

@media (min-width: 900px) {
    header {
        max-width: 1440px;
        margin: 15px auto 35px;
    }

    div.cart {
        padding-right: 160px;
    }

    img.cart {
        visibility: hidden;
    }

    span.mycart {
        visibility: visible;
        font-weight: 500;
    }
}

/*tee*/
#tee {
    max-width: 270px;
    margin: 0 auto;
}

img.tee {
    max-width: 270px;
}

p.tee {
    padding: 5px 0 20px;
}

@media (min-width: 900px) {
    #tee {
        display: flex;
        max-width: 1150px;
        justify-content: center;
        padding: 0 100px;
    }

    img.tee {
        max-width: 400px;
        padding: 0 120px;
    }

    div.tee {
        padding-left: 30px;
    }

    h2.tee {
        margin: 35px 0 20px;
    }
}

/*size*/
div.size {
    display: flex;
}

h4.size {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

h4.star {
    color: var(--clr-star);
    padding: 0;
    margin: 0 0 0 -2px;
}

/*sizeOptions*/
div.sizeOptions {
    display: flex;
}

h4.sizeOptions {
    text-transform: uppercase;
    border: 1px solid var(--clr-borderlg);
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 0px 5px 12px 0px;
    line-height: 2.5rem;
    font-weight: 100;
}

#addtocart {
    text-transform: uppercase;
    display: inline-block;
    margin-top: 8px;
    padding: 5px 20px;
    letter-spacing: 1px;
    border: 2px solid var(--clr-borderdg);
}